.articlePage{
    padding: 2rem 0;
}

.articlePage__header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.goBackLink{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    cursor: pointer;

}

.goBackLink img{
    width: 16px;
}

.articlePage__comments > h1{
    line-height: 200%;
}


/* Comment */
