.button{
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: var(--main-violet-color);

    user-select: none;
}

.button.blueBg{
    background-color: var(--main-blue-color);
}

.button:hover{
    cursor: pointer;
}

.button:active{
    box-shadow: inset .25rem .25rem 10px rgba(255, 255, 255, .1), inset -.25rem -.25rem 10px rgba(0, 0, 0, .1);
}