.mainPage .container{
    display: flex;
    justify-content: space-between;

    padding: 2rem 0;
}

@media screen and (max-width: 1024px){
    .mainPage .container{
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
    .mainPage .container{
        width: 100%;
        padding: 0;
    }
}